{
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "none",
    "parser": "typescript",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
}
